body{
  overflow-x: hidden;
  color: #fff;
  background: #252525;
}

header{
  padding: 40px;
  background: #1952db;
  color: #fff;
}

h1{
  padding: 0; margin: 0;
  min-width: 200px;
  text-wrap: balance;
}

.input-busqueda{
  width: 60%;
  margin: 10px 10px 10px 0px;
}

.input-busqueda, button{
  height: 22px;
  border-radius: 8px;
  border: none;
  box-shadow: #0d245a 0px 4px 5px 1px;
}

button{
  color: #fff;
  background-color: #000;
  height: none;
  cursor: pointer;
}

.cart{
  width: 220px;
  height: 280px;
  margin: 40px 40px 0px 40px;
}

.cart-content{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cart img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: scroll;
}

h2{
  text-align: center;
  font-size: 30px;
}


